/* Estilos para la barra de navegación */
.navbar-with-background-image {
    background: linear-gradient(to right, rgba(72, 146, 148, 0.65), rgba(67, 105, 119, 0.44)); /* Degradado de azul */
    z-index: 1; /* Asigna un valor mayor al z-index */
}

/* Estilos para el texto en la barra de navegación */
.navbar-brand,
.navbar-nav li a {
    color: #000000; /* Cambia el color del texto a blanco */
    font-size: 18px; /* Cambia el tamaño del texto */
    font-family: 'Arial', sans-serif; /* Cambia el tipo de letra */
    /* Puedes agregar otros estilos según sea necesario */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(101, 94, 94, 0.5);
    z-index: -1;
}

body {
    background: #FC5C7D;
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

/*estilo para las tablas user*/
/* Estilos para la tabla */
.table-responsive {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

/* Estilos para filas intercaladas */
.table tbody tr:nth-child(even) {
    background-color: rgba(74, 152, 128, 0.67); /* Fondo transparente para filas pares */
}

.table tbody tr:nth-child(odd) {
    background-color: rgba(175, 130, 46, 0.59); /* Fondo transparente para filas impares */
}

/* Estilos para botones dentro de las celdas */
.table tbody tr td a.btn {
    margin-right: 5px;
}

/* Otros estilos según sea necesario */


/*fun table user*/
/* Estilo para el formulario */
.card {
    margin: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btnAccion {
    margin-top: 15px;
}

/* Estilo para la tabla */
.table-responsive {
    margin-top: 20px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(24, 169, 79, 0.98);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #12508d;
    color: #fff;
}

.table tbody + tbody {
    border-top: 2px solid #4fb476;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}
